<section class="page-section about" id="about">
    <div class="container-fluid aboutSect">
        <div class="row aboutRow text-center">
            <!--About Video-->
            <div class="col-md-6 align-center">
              <div class="container videoBox">
                <video width="400" controls>
                  <source src="video/E-Suite Booking System – E-Suite Booking System.mp4" type="video/mp4">
                </video>
              </div>
            </div>
            <!--About Description-->
            <div class="col-md-6">
              <h1 class="font-weight-bold">About E-Suite</h1>
              <p class="lead">E-Suite is a co-working space with minimal fee for individuals and startups – a centre for innovation and entrepreneurship.</p>
            </div>
        </div>
    </div><!--/aboutSect-->
  </section>
