<section class="page-section booking_steps" id="booking_steps">
    <div class="container-fluid booking_stepSect">
        <div class="container booking_stepsBox">
           <div class="row booking_stepsRow">
             <div class="container">
                <div class="col-md-12">
                    <h1 class="font-weight-bold">Steps of Booking</h1>
                </div>
              </div>
              <!--Steps of Booking Diagram-->
              <div class="col-md-6">
                 <div class="container">
                    <img width="500" class="img-responsive stepsPhoto" src="images/Step_Of_Booking.png" alt="Steps of Booking">
                 </div>
              </div>
              <!--Addtional Steps description-->
              <div class="col-md-6 align-center">
                <div class="container">
                  <ol class="lead pt-4">
                    <li>Go to LiveWIRE Brunei E-Suite website at http://livewirebrunei.com/esuite.</li>
                    <li>Click on Book Now or Book Your Seat button to proceed on Booking Section</li>
                    <li>Fill in the required information</li>
                    <li>Check seats availability and choose your desire date and seat number.</li>
                    <li>Submit booking by clicking on Submit button.</li>
                    <li>Users will get a confirmation letter of their booking request.</li>
                    <li>Users will go to LiveWIRE Centrum to make payment and get receipts before use.</li>
                    <li>LiveWIRE Staff will grant access to esuite.</li>
                    <li>After entry, users may use the Desks for the time allocated.</li>
                  </ol>
                </div>
              </div>
           </div><!--/booking_stepsRow-->
        </div><!--/booking_stepsBox-->
    </div><!--/container-fluid-->
  </section>