<section class="page-section facilities" id="facilities">
    <div class="container-fluid facilitySect">
      <!--Floor Plan & Prices-->
        <div class="container">
          <div class="row facilityRow">
            <div class="col-md-12 text-center">
              <h1 class="font-weight-bold pb-4">Facilities & Fees</h1>
            </div>
            <!--esuite Price Promotion-->
              <div class="col-md-6 text-center">
                <h2 class="font-weight-bold">Fees</h2>
                <div class="container">
                <img width="400" class="img-responsive" src="images/eSuitePromo.png" alt="E-suite Price">
                </div>
              </div>
            <!--esuite map-->
            <div class="col-md-6 text-center">
              <h2 class="font-weight-bold">Floor Plan</h2>
              <div class="container">
              <img width="550" class="img-responsive" src="images/esuiteMap.png" alt="E-suite Price">
              </div>
            </div>
          </div><!--/facilityRow-->
          <div class="container">
            <div class="row hsseRow">
                <div class="col-md-12">
                  <div class="container">
                    <h1 class="font-weight-bold">Facilities</h1>
                  </div>
                </div>
                <!--esuite HSSE Thumbnail-->
                <div class="col-md-6 text-center">
                  <img width="500" class="img-responsive" src="images/HSSE01.png" alt="HSSE">
                  </div>
                <!--esuite Description-->
                <div class="col-md-6">
                  <ul class="lead pt-4">
                    <p class="font-weight-bold">HSSE</p>
                    <li>Key Card for ease of entry to E-Suite</li>
                    <li>CCTV monitoring</li>
                    <li>Fire Extinguisher and Fire Alarm</li>
                    <li>Emergency lights</li>
                    <li>2 Entry/Exits</li>
                  </ul>  
                </div>
            </div><!--/hsseRow-->
          </div>
        <div class="row moreFacilityRow">
            <!--esuite HSSE Thumbnail-->
            <div class="col-md-6">
                <ul class="lead pt-4">
                  <p class="font-weight-bold">More Facilities</p>
                  <li>Air-conditioning and Lighting</li>
                  <li>Telephone and WiFi (100 mbps, 100gb)</li>
                  <li>Toilet (Unisex) with Shower Head</li>
                  <li>Cuckoo Hot and Cold Water Dispenser</li>
                  <li>Pantry Area</li>
                  <li>Shelves, Cabinets and Drawers</li>
                  <li>Mini Conference Area TV screen for presentations</li>
                </ul>
              </div>  
            <!--esuite Description-->
            <div class="col-md-6 text-center">
              <div class="container">
                <img width="500" class="img-responsive" src="images/moreFacility.png" alt="More Facilities">
              </div>
            </div>
        </div><!--/moreFacilityRow-->
      </div><!--/container-->
    </div><!--/facilitySect-->
  </section>