<section class="footer">
    <div class="container-fluid" id="Footer">
          <div class="d-flex justify-content-center">
            <p><i class="far fa-copyright"></i> eSuite Booking System powered by Shell LiveWIRE Brunei copyright © 2021</p>
          </div>
    </div>
  </section>