<nav class="navbar navbar-expand-lg navbar-light bg-light mainNav fixed-top">
  <div class="container">
        <a class="navbar-brand font-weight-bold" href="#home"><span><img src="images/LW_NoBG.png" id="lwLogo"></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto font-weight-bold">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger ml-2 mr-2" href="#about">About E-Suite<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item js-scroll-trigger ml-2 mr-2">
              <a class="nav-link" href="#facilities">Facilities & Fees</a>
            </li>
            <li class="nav-item js-scroll-trigger ml-2 mr-2">
              <a class="nav-link" href="#booking_steps">Steps of Booking</a>
            </li>
            <li class="nav-item js-scroll-trigger ml-2 mr-2">
              <a class="nav-link" href="#terms_of_use">Terms of Use</a>
            </li>
            <li class="nav-item js-scroll-trigger ml-2 mr-2">
              <a class="nav-link" href="#support">Support</a>
            </li>
          </ul>
          <div class="nav-item js-scroll-trigger ml-auto">
            <a href="/booknow" class="btn btn-outline-warning font-weight-bold" role="button" id="bookBtn">Book Now</a>
          </div>
        </div>
    </div> 
    </nav>