<section class="page-section support" id="support">
  <div class="container-fluid supportSect">
    <div class="container supportBox">
      <div class="row supportRow justify-content-center">
          <div class="col-md-12">
            <h1 class="font-weight-bold">Support</h1>
          </div>
          <!--Support png & Paragraphs-->
          <div class="col-md-4">
            <img width="500" class="img-responsive" src="images/Support.png" alt="Support">
          </div>
          <div class="col-md-6 supportPara">
            <p class="h3">For more information & technical support on E-Suite</p>
            <p class="lead">Email at enquiry@livewirebrunei.com</p>
          </div>

      <!--Contact Us-->
        <div class="col-md-6 contactUsCol01">
            <address>
              <h3 class="font-weight-bold">Address</h3>
              Unit 1,2 & 4, Block A & B, Progresif HQ
              Spg 137 – 65 Kg Kiarong, Jalan Pasar Baharu Gadong, 
              Bandar Seri Begawan BE 1318,
              Brunei Darussalam<br>
            </address>
            <address>
              <h3 class="font-weight-bold">Contact Us</h3>
              Office Number: 235-3094
            </address>

            <address>
              <h3 class="font-weight-bold">Work Hours</h3>
              Monday to Thursday: 8am to 5pm<br>
              Friday: 8am to 12pm , 2pm to 5pm<br>
              <br>
              <a href="https://www.facebook.com/groups/20714960143/"><i class="fab fa-facebook-square ml-2 mr-2 fa-2x"></i></a>
              <a href="https://www.instagram.com/livewirebrunei/?hl=en"><i class="fab fa-instagram ml-2 mr-2  fa-2x"></i></a>
            </address>
        </div>

        <div class="col-md-6 contactUsCol02">
          <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31801.801973115915!2d114.90099823955079!3d4.901927900000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3222f5ba6165fa43%3A0x82d04df6dbf7bf0f!2sLiveWIRE%20Brunei!5e0!3m2!1sen!2sbn!4v1627536973483!5m2!1sen!2sbn" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
      </div>
      </div><!--/supportRow-->
    </div><!--/supportBox-->
  </div><!--/supportSect-->
</section>