<section class="page-section terms_of_use" id="terms_of_use">
    <div class="container-fluid touSect">
      <div class="container touBox">
        <div class="row touRow">
          <div class="container">
            <div class="col-md-12">
                <h1 class="font-weight-bold">Terms of Use</h1>
            </div>
          </div>
          <div class="col-md-6">
            <div class="container">
              <img width="500" class="img-responsive" src="images/TOU01.png" alt="Terms of Use #1">
            </div>
          </div>
          <div class="col-md-6">
            <div class="container">
              <img width="500" class="img-responsive" src="images/TOU02.png" alt="Terms of Use #2">
            </div>
          </div>
        </div><!--/touRow-->
      </div><!--/touBox-->
    </div><!--/touSect-->
  </section>